
.sobre--mi__perfil {
    display: flex;
    justify-content: center;
}

.sobre--mi__perfil--img {
    border-radius: 100%;
    width: 20rem;
}

@media (min-width: 768px) {
    .sobre--mi__perfil--img {
        width: 25rem;
    }
}