/* skills */
.skills,
.hobbies {
    padding: 6rem 0 ;
    background-color: var(--fondo);
}

/* Skills titulo */
.skills__titulo, 
.hobbies__titulo {
    text-align: center;
    margin: 0;
    padding: 4rem 0;
}