.button {
    color: var(--blanco);
    padding: 1.5rem 5rem;
    font-size: 2.5rem;
    border-radius: 2rem;
    border: 0;
    cursor: pointer;
}

.button--primario {
    background: var(--negro);
    margin: 4rem 0;
    display: inline-flex;
    gap: 2rem;
}

.button--primario::after {
    content: url(../img/Icons/min-arrow.svg);
}

.button--primario:hover {
    background-color: var(--primero);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    transition: 0.5s;
}
.btn {
    padding: 1rem 2rem;
    color: var(--blanco);
    border-radius: 4rem;
}

.leg {
    padding: 0.5rem 2rem;
    color: var(--blanco);
    border-radius: 4rem;
}

.rallapiso {
    color: var(--verde);
}

.btn__form {
    background-color: #da732f;
}

.btn__form:hover {
    background-color: #a14507;
    transition: 1s;
}