/* contacto contenido */
.contacto__contenido {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .contacto__contenido {
        grid-template-columns: 1fr 1.5fr;
    }
}
/* contacto img */
.contacto__img {
    display: none;
}

@media (min-width: 768px) {
    .contacto__img {
        display: inline;
    }
}
/* contacto formulario */
.contacto__formulario {}

/* contacto formulario  titulo*/
.contacto__formulario__titulo {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

/* contacto formulario descipcion */
.contacto__formulario__descripcion {
    text-align: center;
}

/* contacto formulario contenedor */
.contacto__formulario__contenedor {}

/* campo */

/* campo input */
.campo-input {
    background-color: rgba(95, 144, 150, 0.308);
    border: none;
    border-radius: 2rem;
    padding: 2rem;
    margin-top: 2rem;
    width: 100%;
}

.campo-input:focus{
    outline: none;
}

/* campo input error*/
.campo-input--error .campo-input{
    background-color: rgba(206, 130, 130, 0.308);
    border: 1px solid var(--wargin);
}
.campo-input--error .campo-input::placeholder {
    color: var(--wargin);
}

/* campo input mesaje error*/
.campo-input-mensaje-error {
    display: none;
}

.campo-input--error .campo-input-mensaje-error {
    margin-left: 1rem;
    display: block;
    color: var(--wargin);
}


/* contacto caja enviar */
.contacto__caja__enviar {
    padding-top: 0.8rem;
    text-align: center;
}

